<?php echo $this->doctype(); ?>

<html lang="pt-br">
<head>

<meta charset="utf-8"/>

<?php echo $this->headTitle('Start Site')->setSeparator(' - ')->setAutoEscape(false) ?>    
<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

<!-- Le styles -->
<?php 
    /*
    echo $this->headLink(
                            //array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', '
                              //   href' => $this->basePath() . '/images/favicon.ico')
                              )
                ->prependStylesheet($this->basePath() . '/css/style.css');
    */
?>

<!-- Scripts -->

<?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                              ->prependFile($this->basePath() . '/js/jquery.min.js')  
                                ?>
</head>

<body>
     <a href="<?php echo $this->url('home'); ?>">Home</a>
     <a href="<?php echo $this->url('front-contact'); ?>">Contato</a>
     
     <br/><br/>
     <?php echo $this->content;  ?>
     
    </body>
</html>
