<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="admin/bootstrap/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="admin/css/fonts/ptsans/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="admin/css/fonts/icomoon/style.css" media="screen">

<link rel="stylesheet" type="text/css" href="admin/css/login.css" media="screen">

<link rel="stylesheet" type="text/css" href="admin/css/mws-theme.css" media="screen">

<?php echo $this->headTitle('Trump Admin')->setSeparator(' - ')->setAutoEscape(false) ?>

</head>

<body>

    <div id="mws-login-wrapper">
        <div id="mws-login">
            <h1>Login</h1>
            <div class="mws-login-lock"><i class="icon-lock"></i></div>
            <div id="mws-login-form">
                <?php
                $form = $this->form;
                $form->setAttribute('action', $this->url('manager-login') );
                $form->setAttribute('class', 'mws-form' );

                $form->prepare();
                echo $this->form()->openTag($form);
                ?>
                
                <?php if($msg != ''): ?>
                <div class="mws-form-message error">
                    Login ou senha inválidos.
                </div>
                <?php endif; ?>
                
                    <div class="mws-form-row">
                        <div class="mws-form-item">
                            <?php 
                            $form->get('usuario')->setAttribute('class', 'mws-login-username required');
                            echo $this->formInput($form->get('usuario'));
                            echo $this->formElementErrors($form->get('usuario'));
                            ?>
                            
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <div class="mws-form-item">
                            <?php 
                            $form->get('senha')->setAttribute('class', 'mws-login-password required');
                            echo $this->formInput($form->get('senha'));
                            echo $this->formElementErrors($form->get('senha'));
                            ?>
                        </div>
                    </div>
                    
                    <!--
                    <div id="mws-login-remember" class="mws-form-row mws-inset">
                        <ul class="mws-form-list inline">
                            <li>
                                <input id="remember" type="checkbox"> 
                                <label for="remember">Remember me</label>
                            </li>
                        </ul>
                    </div>
                    -->
                    
                    <div class="mws-form-row">
                        <?php 
                        $form->get('submit')->setAttribute('class', 'btn btn-success mws-login-button');
                        echo $this->formSubmit($form->get('submit'));
                        ?>
                    </div>
                <?php echo $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>

    <!-- JavaScript Plugins -->
    <script src="admin/js/libs/jquery-1.8.3.min.js"></script>
    <script src="admin/js/libs/jquery.placeholder.min.js"></script>
    <script src="admin/custom-plugins/fileinput.js"></script>
    
    <!-- jQuery-UI Dependent Scripts -->
    <script src="admin/jui/js/jquery-ui-effects.min.js"></script>

    <!-- Plugin Scripts -->
    <script src="admin/plugins/validate/jquery.validate-min.js"></script>

    <!-- Login Script -->
    <script src="admin/js/core/login.js"></script>
    <script>
    $(function() {
        $('input[name=usuario]').focus();
    });
    </script>
    
</body>
</html>
